.FAV{
  position: fixed;
  right: 2em;
  bottom: 2em;
}
.search{
  padding: 30px;
  color: white;
}
.Header-background{
  padding:50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.Header-Benefit{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}
.Header-Benefit div:not(.Header-Benefit-content){
  padding: 0px !important;
}
.Header-Benefit-image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}
.Header-Benefit-image img{
  max-width: 100%;
}
.Header-Benefit-content{
  flex-basis: 60%;
  max-width: 60%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}

.Header-illustration{
  position: absolute;
  z-index: -1;
  top:-40px;
  height: 380px;
}

.Header-main{
  margin-bottom: 2em;
  margin-left: -200px;
}

.container{
  width: 80%;
  margin: 0 auto;
}


.textfield{
  display: block !important;
  width: 100% !important;
}

.MovieH-avatar{
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  overflow: hidden;
}

.MovieH-avatar img{
  max-width: 100%;
}


.Movie-cover{
  height: 100px;
  background-size: cover;
  background-position: center;
}
.Movie-container{
  height: 600px;
  background-size: cover;
  background-position: center;
}
.Movie-card{
  text-align: left;
  padding: 30px;
}










.fade-scale-enter {
  opacity: 0;
  transform: scale(0);
}

.fade-scale-enter.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-scale-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-scale-exit.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}





.left-out-enter {
  opacity: 0;
  transform: translateX(100%);
}

.left-out-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.left-out-exit {
  opacity: 1;
  transform: translateX(100%);
}

.left-out-exit-active {
  opacity: 0;
  transform: translateX(0);
}
